.help {
    padding: var(--section-padding) 0;
    background-color: var(--color-light-xl);
}

.help__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
    margin-bottom: 60px;
}

.help__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px 0;
}

.help__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 20%;
}

.help__icon {
    width: 60px;
    height: 60px;
}

.help__label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
}


.donation {
    padding: var(--section-padding) 0;
    background-color: var(--color-light-l);
}

.donation__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.donation__image {
    flex-shrink: 0;
    width: 400px;
}

.donation__image img {
    width: 100%;
    height: auto;
}

.donation__content {
    padding-left: 20px;
}

.donation__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    margin-bottom: 20px;
}

.donation__bank {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    margin-bottom: 20px;
}

.donation__card {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    border-radius: 9px;
    background-color: var(--color-primary);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    margin-bottom: 30px;
    cursor: default;
}

.donation__card-icon {
    width: 24px;
    height: 24px;
    opacity: 0.6;
}

.donation__legal {
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-dark-m);
    max-width: 380px;
}

@media (max-width: 769px) {
    .help__grid {
        gap: 55px 60px;
    }

    .donation__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .donation__image {
        order: 2;
    }

    .donation__content {
        order: 1;
    }
}

@media (max-width: 480px) {
    .help__title {
        font-size: 25px;
        margin-bottom: 42px;
    }

    .help__grid {
        gap: 30px;
    }

    .help__item {
        width: 40%;
    }

    .help__label {
        font-size: 15px;
    }

    .donation__title {
        font-size: 25px;
        text-align: center;
    }

    .donation__bank {
        font-size: 15px;
        line-height: 160%;
    }

    .donation__card {
        margin: 0 auto;
        width: 281px;
        height: 43px;
        font-size: 15px;
        text-align: center;
        gap: 15px;
        margin-bottom: 30px;
    }
    .donation__image {
        width: 260px;
    }
}