.promo {
    padding-top: 180px;
    background: url('../../img/bg/promo-bg.jpg') center center / cover no-repeat;
    min-height: 908px;
    .container {
        display: flex;
        justify-content: space-between;
    }
}
.promo__title {
    margin-top: 163px;
    max-width: 310px;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-light-xl);
}

.promo__text {
    margin-top: 43px;
    max-width: 460px;
}
.promo__btn {
    margin-top: 42px;
    max-width: 207px;
}